{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.city) }}
    {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.city) }}
</div>

<div class="mb-3">
    {{ form_label(form.country) }}
    {{ form_widget(form.country, { 'attr': {'class': 'form-select'} }) }}
    {{ form_errors(form.country) }}
</div>

<div class="mb-3">
    {{ form_label(form.latitude) }}
    {{ form_widget(form.latitude, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.latitude) }}
</div>

<div class="mb-3">
    {{ form_label(form.longitude) }}
    {{ form_widget(form.longitude, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.longitude) }}
</div>

<button type="submit" class="btn">
    {{ button_label|default('Save') }}
</button>

{{ form_end(form) }}

{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}
